# 环境
node_modules/


test

# 下载文件夹
downloads/
data/

# 用户配置文件
backend/config/user-config.json
backend/config/database.json
backend/backups/

# 自己的配置文件
start_me.bat
config.json

#打包文件夹
dist/
pixiv-manager-portable/
pixiv-manager-portable.rar
build/
zzip.bat
dist.zip
