{
  "server": {
    "port": 3000,
    "autoOpenBrowser": false
  },
  "proxy": {
    "port": null,
    "enabled": "auto"
  },
  "logging": {
    "level": "INFO"
  },
  "system": {
    "threadPoolSize": 16
  }
}